/* Start golbal rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary-dark-color: #21D0B2;
    --primary-color: #34F5C5;
    --Secondary-color: #2EC6F2;
    --third-color: #2E4357;
    --p-color: #777;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }   
}
    /* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }   
}
    /* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }   
}


/* end global rules */


/* start left side */

.content{
    display: grid;
    grid-template-columns: 33% 67%;
    background: linear-gradient(to top right, #2EC6F2, #34F5C5);

}
.content .left{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    
}
@media (max-width: 769px){
    .right{
        position: absolute;
        display: none;
    }.content{
        display:flex;
        justify-content: center;
        grid-template-columns: 100%;
        background: none;
    }
}
    /* Medium */
@media (max-width: 991px){
    .content{
        grid-template-columns: 46% 54%;
    }
}
    /* Large */
@media (max-width: 1201px){
    .content{
        grid-template-columns: 40% 60%;
    }
}


.content .left .sign-up .box{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.content .left .sign-up .box h2{
    color: var(--Secondary-color);
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0675rem;
}
.content .left .sign-up .box p {
    color: var(--Secondary-color);
    color: #878787;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03rem;
    margin-top: 15px;
}


.content .left .sign-up .box  .second , .content .left .sign-up .box .row {
    display: grid;
    place-content: center;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    width: 80%;
    gap: 5px;
}
@media (max-width: 769px){
    .content .left .sign-up .box{
        padding: 0px;
        
    }
    .content .left .sign-up .box  .second , .content .left .sign-up .box .row {
        grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
        grid-template-columns: repeat(1, minmax(350px, 1fr));
        width: 100%;
        gap: 10px;
    }
}
.content .left .sign-up .box .second input{
    width: 100%;
    padding: 12px 10px;
    border-radius: 0.6375rem;
    border: 1.5px solid #5c5a5a;
    background: #EEEEEE;
}
.content .left .sign-up .box .second .forget-pass{
    text-decoration: none;
    margin-top: 5px;
    
}
.content .left .sign-up .box .second button{
    width: 100%;
    border: none;
    /* background-color: var(--second-color); */
    background: linear-gradient(to top right, #2EC6F2, #34F5C5);
    border-radius: 10px;
    padding: 12px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    -webkit-box-shadow: 1px 3px 12px -4px #000000;
    -moz-box-shadow: 1px 3px 12px -4px #000000;
    box-shadow: 1px 3px 12px -4px #000000;
    cursor: pointer;
    margin-top: 15px;
}

.content .left .sign-up .box .third{
    border-top: 1px solid #777;
    padding-top: 15px;
    position: relative;
}
.content .left .sign-up .box .third p{
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 50%;
    transform: translate(50%, -113%);
    padding: 0 5px;
    color: #878787;
    letter-spacing: 0.03rem;
    
}

/* design button sign in with google */

.content .left .sign-up .box  .third .login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    width: 100%;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 0.9375rem;
    border: 1.5px solid #2EC6F2;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    margin-top: 10px;
    color: #757575 !important;
    font-size: 17px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white !important;
    background-repeat: no-repeat;
    background-position: 21px 15px;
    
    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
        background-color: rgb(233, 233, 233) !important;
    }
    
    &:active {
        background-color: #eeeeee;
    }
    
    &:focus {
        outline: none;
        box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

/* end left side */


/* start right side */ 

.content .right{
    position: relative;
}
.content .right .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.content .right .text h1{
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0375rem;
}
.content .right .text p{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02rem;
    min-width: 450px;
    max-width: 700px;
}
.content .right {
    background: linear-gradient(to top right, #2EC6F2, #34F5C5);
    width: 100%;
    height: 100%;
    
}

/* end right side */ 



